<div class="uk-container">
  <h1><%= @repo.errors.count %></h1>
  <% @repo.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  <%= form_with model:@repo, url:check_path, local: true, class: 'repos-form' do |f| %>
    <%= f.label  :repourl, 'GitHubのリポジトリURL', class: 'uk-text-capitalize' %>
    <%= f.text_field :repourl, class: 'uk-input repos-input' %>
    <%= f.submit class: 'uk-button uk-button-primary', value: 'CHECK!' %>
  <% end %>
</div>